.container-pagination {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: min(120rem, 90%);
    margin: 4rem auto 1rem auto;
}
.pagination__page {
    color: var(--LightColor);
}
.pagination__button {
    background-color: var(--LightColor);
    border-radius: 0;
    border: none;
    color: var(--fifthColor);
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .2rem;
    padding: .7rem 2rem;
    text-transform: uppercase;
    transition: background-color .3s ease, color .3s ease;
    border-radius: .5rem;
}
.pagination__button:hover {
    background-color: var(--mainColor);
    color: var(--LightColor);
}