.container-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
}
.pagination__page {
    color: var(--LightColor);
}
.pagination__button {
    border-radius: 0;
    border: none;
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    background-color: var(--LightColor);
    color: var(--fifthColor);
}