.container-characters {

    background-color: var(--LightColor);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    transition: box-shadow .5s ease;
    cursor: pointer;
}

.container-characters:hover {
    box-shadow: 0px 0px 10px 5px var(--secondaryColor);
}

.character__img {
    display: block;
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

}

.character__species {
    background-color: var(--mainColor);
    color: var(--LightColor);
    font-size: 1.4rem;
    letter-spacing: .2rem;
    padding: 1rem;
    text-align: center;
}

.character__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.character__status {
    align-items: center;
    display: flex;
}

.character__circle,
.character__circle--dead,
.character__circle--unknown {
    background-color: var(--mainColor);
    border-radius: 50%;
    height: 1rem;
    margin-right: .5rem;
    width: 1rem;
}

.character__circle--dead {
    background-color: #e80d0d;
}

.character__circle--unknown {
    background-color: var(--fifthColor);
}

.character__section,
.character__species  {
    font-weight: 700;
    text-transform: uppercase;
}

.character__section {
    font-size: 1.2rem;
}

.character__value {
    color: var(--MediumColor);
}