.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.characters {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--fifthColor);
    border-radius: 1rem;
    padding: 3rem;
    gap: 2rem
}

.character {

}

.characters__img {
    max-width: 10rem;
}

.characters__species {
    background-color: var(--mainColor);
}

.characters__name {

}

.characters__info {
    
}

.characters__info span {
    
}