.container-header {
    color: var(--LightColor);
    background-size: cover;
    height: 35rem;
    background-position: bottom right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.searchBar {
    background-color: #ffffffd2;
    border-radius: 1rem;
    box-shadow: 0px 0px 28px -10px rgba(255,255,255,1);
    padding: 1rem 15rem 1rem 1rem;
}



