.container-header {
    color: aliceblue ;
    background-image: url('../../assets/img/header-rick-and-morty.webp');
    background-size: cover;
    height: 35rem;
    background-position: bottom right;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.searchBar {
    padding: 1rem 15rem 1rem 1rem;
    border-radius: 1rem;
}
