:root {
    --mainColor: #64BC46;
    --secondaryColor: #12B0C9;
    --thirdColor: #F4F017;
    --fourthColor: #1D8E43;
    --fifthColor: #010104;
    --LightColor: #ededed;
    --MediumColor: #7e7e7e;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    background: linear-gradient(250deg, var(--fifthColor) 20%, rgba(6,6,71,1) 100%);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    margin: 0 auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container-characterList {
    display: grid;
    gap: 3rem;
    margin: 0 auto;
    width: min(120rem, 90%);
}

@media (min-width: 576px) { 
    .container-characterList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) { 
    .container-characterList {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 998px) { 
    .container-characterList {
        grid-template-columns: repeat(4, 1fr);
    }
}