:root {
    --mainColor: #64BC46;
    --secondaryColor:#64bc46;
    --thirdColor: #F4F017;
    --fourthColor: #1D8E43;
    --fifthColor: #010104;
    --LightColor: #ededed;
    --MediumColor: #7e7e7e;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    background: linear-gradient(250deg, var(--fifthColor) 20%, rgba(6,6,71,1) 100%);
    font-family: Pfont-Regular;
    font-size: 1.6rem;
    margin: 0 auto;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Pfont-Regular";
    src: url("./assets/fonts/Montserrat-Regular.ttf");
}

.container-characterList {
    display: grid;
    gap: 3rem;
    margin: 0 auto;
    width: min(120rem, 90%);
}

@media (min-width: 576px) { 
    .container-characterList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) { 
    .container-characterList {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 998px) { 
    .container-characterList {
        grid-template-columns: repeat(4, 1fr);
    }
}