:root {
    --mainColor: #64BC46;
    --secondaryColor: #12B0C9;
    --thirdColor: #F4F017;
    --fourthColor: #1D8E43;
    --fifthColor: #010104;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background: linear-gradient(250deg, var(--fifthColor) 20%, rgba(6,6,71,1) 100%);
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}